/* General Styles */
body {
    background-color: #ffaa00; /* Ubah kode warna sesuai preferensi Anda */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}


.navbar ul li {
    position: relative;
}

.navbar ul .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
}

.navbar ul li:hover .dropdown {
    display: block;
}

.navbar ul .dropdown li {
    padding: 10px;
    border-bottom: 1px solid #666;
}

.navbar ul .dropdown li:last-child {
    border-bottom: none;
}

.navbar ul .dropdown li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul .dropdown li a:hover {
    text-decoration: underline;
}


.library-name {
    color: #f9f9f9;
    margin: 0;
    font-family: 'Lora', serif;
}


/* Content */
.content {
    margin: 100px auto 60px;
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0 0;
    font-family: 'Lora', serif;
}

.library-photo {
    background: none; /* Menghapus background */
    max-width: 100%; /* Mengatur lebar maksimum */
    height: auto; /* Biarkan tinggi otomatis menyesuaikan */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Collection Section */
.collection-section {
    width: 90%;
    max-width: 1000px;
    margin: 60px auto;
    text-align: center;
}

.collection-section h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    margin-bottom: 40px;
    color: #4a5568;
}

.collection-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collection-item img {
    width: 30%;
    max-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.collection-item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.collection-description {
    width: 65%;
    text-align: left;
    padding-left: 20px;
}

.collection-description h3 {
    font-family: 'Lora', serif;
    font-size: 22px;
    color: #4a5568;
    margin-top: 0;
}

.collection-description p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
.footer {
    background: #000000; /* Ubah warna latar belakang footer */
    color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content h3 {
    margin: 0;
    font-size: 24px;
    font-family: 'Lora', serif;
}

.footer-content p {
    margin: 10px 0;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: #f9f9f9;
    font-size: 20px;
    transition: color 0.3s;
}

.socials a:hover {
    color: #cbd5e0;
}

.footer-bottom {
    background: #000000;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
